@import url(./reset.css);
:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --footer-link: hsl(178, 68%, 31%);
  --outfit-font: "Outfit", sans-serif;
}
body {
  background: var(--main-bg);
  font-family: var(--outfit-font);
  color: var(--white);
}
main {
  max-width: clamp(32.5rem, 32.5rem + 3vw, 37.5rem);
  margin: 1% auto 0;
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 1rem;
}
img {
  max-width: 100%;
}
main,
img,
.product-image-section {
  border-radius: 1.5rem;
}

p {
  font-size: clamp(1.3rem, 1.3rem + 1vw, 2.2rem);
  margin: 2rem 0;
}
hr {
  width: 100%;
  border: 0.1rem solid var(--line);
}
.product-image-section {
  position: relative;
  background: var(--card-bg);
}
.product-image-section:hover {
  background-color: var(--cyan);
}
.product-image-section:hover .main-product-image {
  mix-blend-mode: multiply;
  opacity: 0.8;
}
.product-image-section:hover .overlay-image {
  opacity: 1;
  cursor: pointer;
}
main .overlay-image {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  display: grid;
  place-items: center;
}
.product,
.value-and-time,
.avatar-section {
  margin: calc(2rem + 0.1vw) 0;
}
.product-name {
  font-size: clamp(2.5rem, 2.5rem + 1vw, 4rem);
}
.product-name:hover,
.creator-name:hover {
  color: var(--cyan);
  cursor: pointer;
}
.product-description {
  line-height: 1.3;
  color: var(--soft-blue);
  font-weight: 300;
}
.value-and-time,
.avatar-section {
  justify-content: space-between;
  align-items: center;
}
.value-and-time,
.value,
.time,
.avatar-section {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.value img,
.time img {
  margin: 0 0.5rem;
}
.value p {
  color: var(--cyan);
}
.time p {
  color: var(--soft-blue);
  font-weight: 300;
}
.avatar-section {
  justify-content: start;
}
.avatar-section span {
  font-size: inherit;
  color: var(--soft-blue);
}
.creator-avatar {
  max-width: clamp(4.5rem, 4rem + 1vw, 100%);
  margin-right: 2rem;
}
.attribution {
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem 0;
}
.attribution a {
  color: var(--footer-link);
}
